.card-container {
  width: 6rem;
  height: 6rem;
  position: relative;
  cursor: pointer;
  user-select: none;
  transform-style: preserve-3d;
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10%;

  background-color: rgb(255, 255, 255);
  color: black;

  backface-visibility: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32pt;
}

.card-back {
  transform: rotateY(180deg);
}

/*
Enter Transition
showFront = true -> false
front -> back

Exit Transition
showFront = false -> true
back -> front
*/

.flip-exit {
  transform: rotateY(0deg);
}

.flip-exit-active {
  transform: rotateY(180deg);
  transition: transform 300ms;
}

.flip-exit-done {
  transform: rotateY(0deg);
}

.flip-enter {
  transform: rotateY(180deg);
}

.flip-enter-active {
  transform: rotateY(0deg);
  transition: transform 300ms;
}

.flip-enter-done {
  transform: rotateY(180deg);
}
