body {
  background-color: #222431;
  color: #ffffff;
}

header {
  display: flex;
  justify-content: center;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.preferences {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 30px;
}

.btn-group,
.output-group {
  display: flex;
  flex-direction: column;
}

p {
  margin: 0.5rem;
}

.btn {
  background-color: #ffffff;
  color: #222431;
  border: none;
  border-radius: 8px;
  padding: 0.5rem;
  margin: 0.2rem;
  text-align: center;
  text-decoration: none;
}

.btn:hover {
  background-color: #dddddd;
}

.btn:active {
  background-color: #9f9f9f;
}
