body {
  background-color: #222431;
  color: #ffffff;
}

header {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

p {
  margin: 0;
}

.btn {
  background-color: #ffffff;
  color: #222431;
  border: none;
  border-radius: 8px;
  padding: 10px;
  margin: 0;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-family: "Sono", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.btn:hover {
  background-color: #dddddd;
}

.btn:active {
  background-color: #9f9f9f;
}
